---
console.log("header");

---

<header>
    <div class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
        <h2 class="text-3xl font-extrabold leading-tight text-white sm:text-4xl lg:text-5xl lg:leading-none" >
            SpaceX Launches 🚀
        </h2>
        <p class="text-white">
            All the information about SpaceX launches, rockets, capsules, and more.
        </p>

        

    </div>
</header>
